#content
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      !=self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid.contacts
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    ul.contacts__list
      li.contacts__item
        a.contacts__link(href=self.link_to('rcd-nodeca.contacts.sales'))
          = self.t('@rcd-nodeca.contacts.sales.title')

      li.contacts__item
        a.contacts__link(href=self.link_to('rcd-nodeca.contacts.support'))
          = self.t('@rcd-nodeca.contacts.support.title')

      if self.runtime.is_member
        //-li.contacts__item
        //-  a.contacts__link(href=self.link_to('rcd-nodeca.contacts.nick_change'))
        //-    = self.t('@rcd-nodeca.contacts.nick_change.title')

        li.contacts__item
          a.contacts__link(href=self.link_to('rcd-nodeca.contacts.user_update'))
            = self.t('@rcd-nodeca.contacts.user_update.title')

        li.contacts__item
          a.contacts__link(href=self.link_to('rcd-nodeca.contacts.mod_appeal'))
            = self.t('@rcd-nodeca.contacts.mod_appeal.title')
