-
  var postStatuses = '$$ JSON.stringify(N.models.forum.Post.statuses) $$';
  var rtb_id = '$$ JSON.stringify(N.config.ads.yandex_rtb_id) $$';

//- show ads to guests only
if !self.runtime.is_member
  // show ad after the post user navigated to, don't show ads in prefetch pages
  if self.current_post_hid && self.posts[self.post_idx].hid === self.current_post_hid
    - var visible = [ postStatuses.DELETED, postStatuses.DELETED_HARD, postStatuses.HB ].indexOf(self.posts[self.post_idx].st) === -1;

    //- visible post and deleted post right after it have the same post_counter
    if visible
      -
        var page_number = Math.floor(self.post_counter / self.pagination.per_page) + 1;
        var uniqid = 'rcdad-' + self.get_label_uid();
      .rcdad.forum-post__after(
        data-rtb-id=rtb_id
        data-page-number=page_number
        data-render-to=uniqid
      )
        .rcdad__meta= self.t('advertisement')
        .rcdad__content(id=uniqid)
