#content
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      !=self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid.space-top
    != self.partial('@users.blocks.announces')

    // ko ifnot: submitted
    header.page-head
      h1.page-head__title= self.head.title

    .alert.alert-warning.pb-0.mb-4
      != self.t('description')

    form.mb-4(data-on-submit='rcd-nodeca.contacts.sales:submit')

      if !self.runtime.is_member
        // ko with: name
        .form-group(data-bind='css: { "has-danger": hasError }')
          label(for='contact-form-name')= self.t('field_name')
          input.form-control(
            id='contact-form-name'
            name='name'
            type='text'
            data-bind='value: value'
          )
        // /ko

        // ko with: email
        .form-group(data-bind='css: { "has-danger": hasError }')
          label(for='contact-form-email')= self.t('field_email')
          input.form-control(
            id='contact-form-email'
            name='email'
            type='email'
            data-bind='value: value'
          )
        // /ko

      // ko with: url
      .form-group(data-bind='css: { "has-danger": hasError }')
        label(for='contact-form-url')= self.t('field_url')
        input.form-control(
          id='contact-form-url'
          name='url'
          type='text'
          data-bind='value: value'
        )
      // /ko

      // ko with: message
      .form-group(data-bind='css: { "has-danger": hasError }')
        label(for='contact-form-message')= self.t('field_message')
        textarea.form-control.contact-form-textarea(
          id='contact-form-message'
          name='message'
          data-bind='value: value'
        )

        small.form-text.text-muted= self.t('field_message_desc')
      // /ko

      if !self.runtime.is_member
        // ko with: recaptcha_response_field
        != self.partial('@common.blocks.recaptcha')
        // /ko

      button.btn.btn-primary.mt-3(type='submit')= self.t('submit')
    // /ko

    .row(style='display: none', data-bind='visible: submitted')
      .col-md-6.offset-md-3.col-sm-8.offset-sm-2
        .card.card-block
          = self.t('success')
