#content
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      !=self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid.space-top
    != self.partial('@users.blocks.announces')

    // ko ifnot: submitted
    header.page-head
      h1.page-head__title= self.head.title

    .alert.alert-warning.pb-0.mb-4
      != self.t('description')

    form.mb-4(data-on-submit='rcd-nodeca.contacts.nick_change:submit')
      // ko with: nick
      .form-group(data-bind='css: { "has-danger": error }')
        label(for='contact-form-nick')= self.t('field_nick')
        input.form-control(
          id='contact-form-nick'
          name='nick'
          type='text'
          data-bind='value: value'
        )

        // ko if: error
        .form-control-feedback(data-bind='text: error')
        // /ko
      // /ko

      button.btn.btn-primary.mt-3(type='submit')= self.t('submit')
    // /ko

    .row(style='display: none', data-bind='visible: submitted')
      .col-md-6.offset-md-3.col-sm-8.offset-sm-2
        .card.card-block
          = self.t('success')
