#content
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      !=self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid.space-top
    != self.partial('@users.blocks.announces')

    // ko ifnot: submitted
    header.page-head
      h1.page-head__title= self.head.title

    .alert.alert-warning.pb-0.mb-4
      != self.t('description')

    form.mb-4(data-on-submit='rcd-nodeca.contacts.mod_appeal:submit')
      // ko with: message
      .form-group
        label(for='contact-form-message')= self.t('field_message')
        textarea.form-control.contact-form-textarea(
          id='contact-form-message'
          name='message'
          data-bind='value: value, css: { "is-invalid": error }'
        )
      // /ko

      if !self.runtime.is_member
        // ko with: recaptcha_response_field
        != self.partial('@common.blocks.recaptcha')
        // /ko

      button.btn.btn-primary.mt-3(type='submit')= self.t('submit')
    // /ko

    .row(style='display: none', data-bind='visible: submitted')
      .col-md-6.col-sm-8.m-auto
        .card.card-body
          = self.t('success')
